@{
        ViewData["Title"] = "To Do List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @model todoList.Models.Category

    <h2>Details</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

<ul>

</ul>
@foreach (var i in ViewBag.theseItems)
{
    <li>asdf</li>
}





    <p>@Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) | @Html.ActionLink("Back to List", "Index")</p>
